*.iml
*.iws
*.ipr
.idea/
.gradle/
local.properties

*/build/

*~
*.swp
*.bin
*.bin
*.apk
app/manifest-merger-release-report.txt
build/intermediates/dex-cache/cache.xml
build/intermediates/model_data.bin
build/intermediates/model_data.bin